<!DOCTYPE html>
<html>
<header th:include="header :: header"></header>
<head>
    <title>D-world/업무일지</title>
    <link rel="stylesheet" href="/css/WorkLog.css">
    <script>
        // 업체 즐겨찾기 ajax
        function custFavor(custCd){
            var datas = {custCd};
            $.ajax({
                url: "/dworld/customer/custfavor",
                type: "put",
                data: datas,
                success: function(data) {
                    custListAjax()
                }, error: function() {
                    Swal.fire("Error", "ajax 통신 오류 발생", "error");
                }
            });
        }

        // 업체 선택 모달에 사용하는 데이터
        function custListAjax(){
            var searchCustNm = $("#searchCustNm").val();
            var datas = {searchCustNm};
            $.ajax({
                url: "/dworld/customer/searchmodal",
                type: "get",
                data: datas,
                success: function(data){
                    var listArea =$("#custListTable");
                    var listStr = "";
                    listArea.empty();
                    
                    if (data && data.length > 0) {
                        $.each(data, function(index, item){
                            listStr += `<tr>`;
                            listStr += `<td class="text-center">`;
                            listStr += `<button type="button" style="border:none; background: none;" onclick="custFavor(`+item.custCd+`)">`;
                            if(item.custFavor == 1){
                                listStr += `<i class="bx bxs-star custFavorIcon"></i>`;
                            }else{
                                listStr += `<i class="bx bx-star custFavorIcon"></i>`;
                            };
                            listStr += `</button></td>`;
                            listStr += `<td onclick="SetCust('`+item.custCd+`', '`+item.custNm +`')" class='text-start text-truncate'>`+item.custNm+`</td>`
                            listStr += `</tr>`;
                        });
                        listArea.append(listStr);
                    } else {
                        listStr += "<tr><td colspan='2' class='text-center'>검색 결과가 없습니다.</td></tr>";
                        listArea.append(listStr);
                    }
                }, error: function() {
                    Swal.fire("Error", "ajax 통신 오류 발생", "error");
                }
            });
        };


        //업체 선택 버튼 클릭 이벤트
        function SetCust(custCd, custNm){
            $('#selectCustModal').modal('hide');
            $("#cust-cd").val(custCd);
            $("#cust-nm").val(custNm);
            checkCust()
        };
        
        //업체 선택 취소
        function SelectCancel(){
            $("#cust-nm").val("");
            $("#cust-cd").val("");
            checkCust()
        };

        //삭제 버튼 이벤트
        function DeleteWorkLog(idx){
            var datas = {idx};

            Swal.fire({
                title : "Delete Request"
              , text : "삭제 하시겠습니까?"
              , icon : "warning"
              , showCancelButton: true
              , confirmButtonColor: '#3085d6'
              , cancelButtonColor: '#d33'
              , confirmButtonText: 'OK! Delete.'
              , cancelButtonText: 'Cancel', 
            }).then((result)=>{
                if(result.isConfirmed){
                    $.ajax({
                        url: "/dworld/worklog/control",
                        type: "delete",
                        data: datas,
                        success: function(data) {
                            if(data == "OK"){
                                Swal.fire("Success", "삭제 되었습니다.", "success")
                                .then((result)=>{
                                    if(result){
                                        location.href="/dworld/worklog";
                                    }
                                });
                                
                            }else{
                                Swal.fire("Error", "접근이 잘못되었습니다.", "error");
                            }
                        }, error: function() {
                            alert("ajax 통신 오류 발생");
                        }
                    });
                }
            })
        };
        
        // 업체 선택, 취소 버튼 컨트롤
        function checkCust(){
            if($("#cust-nm").val() == ""){
                $("#btn-selectCust").show();
                $("#btn-cancelCust").hide();
            }else {
                $("#btn-selectCust").hide();
                $("#btn-cancelCust").show();
            }
        };

        //수정버튼 클릭 이벤트
        function UpdateWorkLog(idx) {
            Swal.fire({
                title : "Update Request"
              , text : "수정 하시겠습니까?"
              , icon : "warning"
              , showCancelButton: true
              , confirmButtonColor: '#3085d6'
              , cancelButtonColor: '#d33'
              , confirmButtonText: 'OK! Save'
              , cancelButtonText: 'Cancel', 
            }).then((result)=>{
                if(result.isConfirmed){
                    var custCd = $("#cust-cd").val();
                    if(custCd == ""){
                        custCd = 0;
                    };
                    var receiptDt = $("#receipt-dt").val();
                    var dueDt = $("#due-dt").val();
                    var complDt = $("#compl-dt").val();
                    var complYn;
                    if(complDt == ""){
                        complYn = "N";
                    }else{
                        complYn = "Y";
                    }
                    var title = $("#title").val();
                    var content = $("#content").html();
                    var documentType = $("#documentType").val();
                    var datas = {custCd, receiptDt, dueDt, complDt, complYn, title, content, documentType, idx};

                    if(!title.trim()){
                        Swal.fire("Title Empty", "제목을 써주세요.", "warning");
                    }else {
                        if(!content.trim()){
                        Swal.fire("Content Empty", "내용을 써주세요.", "warning");
                        }else{
                            $.ajax({
                                url: "/dworld/worklog/control",
                                type: "put",
                                data: datas,
                                success: function(data) {
                                    if(data == 'OK'){
                                        Swal.fire("Success", "수정 되었습니다.", "success")
                                        .then((result)=>{
                                            if(result){
                                                location.reload();
                                            }
                                        });;
                                    }else{
                                        Swal.fire("Error", "접근이 잘못되었습니다.", "error");
                                    }
                                }, error: function() {
                                    alert("ajax 통신 오류 발생");
                                }
                            });
                        }
                    }
                }
            })
        };

        $(document).ready(function(){
            
            custListAjax();
            checkCust();
            
            //업체 선택하지 않은 업무일지 response 데이터 리턴시 대응
            if($("#cust-cd").val()==0){
                $("#cust-cd").val("");
            };

            //뒤로 버튼
            // $("#btn-back").on("click", function(){
            //     // location.href="/dworld/worklog";
            //     window.history.back();
            // });

            // 모달 > 업체 검색
            $("#searchCustNm").on("keyup",function(key){
                if(key.keyCode==13){
                    custListAjax();
                };
            });
            
            // 업체 등록 버튼
            $("#btn-insertCust").on("click", function(){
                // 업체 선택 모달 닫기
                $("#selectCustModal").modal('hide'); 

                Swal.fire({
                    title: "업체 간편 등록1"
                  , text: "'업체명'을 입력해주세요."
                  , input: "text"
                  , icon: "info"
                  , inputAttributes: {
                        autocapitalize: "off"}
                  , showCancelButton: true
                  , confirmButtonText: "Add Customer"
                //   , showLoaderOnConfirm: true
                //   , allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        var datas = {custNm: `${result.value}`}
                        $.ajax({
                            url: "/dworld/customer/control",
                            type: "post",
                            data: datas,
                            success: function(data) {
                                if(data == "custNmEmpty"){
                                    Swal.fire("Customer Empty","'업체명'이 비어선 안됩니다.", "warning");
                                } else{
                                    if(data == "OK"){
                                        Swal.fire("","등록 되었습니다.", "success")
                                        .then((result)=>{
                                            if(result){
                                                location.reload();
                                            }
                                        });
                                    }else{
                                        Swal.fire("Error","접근이 잘못되었습니다.", "error");
                                    } 
                                }
                            }, error: function() {
                                Swal.fire("Error","ajax 통신 오류 발생", "error");
                            }
                        });
                    }
                });
            });
            
            //업무일지 등록
            $("#btn-insert").on("click", function() {
                var custCd = $("#cust-cd").val();
                if(custCd == ""){
                    custCd = 0;
                };
                
                var receiptDt = $("#receipt-dt").val();
                var dueDt = $("#due-dt").val();
                var complDt = $("#compl-dt").val();
                var complYn;
                if(complDt == ""){
                    complYn = "N";
                }else{
                    complYn = "Y";
                }
                
                var title = $("#title").val();
                var content = $("#content").html();
                var documentType = $("#documentType").val();

                var datas = {custCd, receiptDt, dueDt, complDt, complYn, title, content, documentType};

                if(!title.trim()){
                    Swal.fire("Title Empty", "'제목'을 써주세요.", "warning");
                }else if(!content.trim()){
                    Swal.fire("Content Empty", "'내용'을 써주세요.", "warning");
                }else if(documentType == "") {
                    Swal.fire("Document Type Empty","'문서 구분'을 선택해 주세요.", "warning");
                }else{
                    $.ajax({
                        url: "/dworld/worklog/control",
                        type: "post",
                        data: datas,
                        success: function(data) {
                            if(data == "OK"){
                                Swal.fire("Success", "등록 되었습니다.", "success")
                                .then((result)=>{
                                    if(result){
                                        location.href="/dworld/worklog";
                                    }
                                });
                                
                            }else{
                                Swal.fire("Error", "접근이 잘못되었습니다.", "error");
                            }
                        }, error: function() {
                            alert("ajax 통신 오류 발생");
                        }
                    });
                }

                
            });

            // 문서 구분 회의록은 visable
            // 문서 코드 A:개인업무 / B:팀 협업 / C:회의록 / D:CS / Z:기타
            $("#documentType").on("change", function () {
                if($("#documentType").val() == 'C'){
                    $("#receipt-dt").prop("disabled", true);
                    $("#receipt-dt").val("");
                    $("#due-dt").prop("disabled", true);
                    $("#due-dt").val("");
                }else{
                    $("#receipt-dt").prop("disabled", false);
                    $("#due-dt").prop("disabled", false);
                }
            });

            // 로딩시 회의록일때 visable
            if($("#documentType").val() == 'C'){
                $("#receipt-dt").prop("disabled", true);
                $("#due-dt").prop("disabled", true);
            }

            // content 영역 새로운 라인 생성하기
            $("#btn-linePlus").on("click", function(){
                // 추가할 새로운 div 요소 생성
                var newDiv = $(`<div>New Line</div>`);
                // id가 "content"인 div에 새로운 div 추가
                $("#content").append(newDiv);
            });
        }); // $(document).ready 끝 -------------
        
    </script>
</head>
<body>
    <div class="container">
        <div class="row p-0 m-0 gy-2">
            <div class="text-center webfont1 title-style">
                <label th:text="${MODE == 'new' ? 'Write New WorkLog' : 'WorkLog Detail'}"></label>
            </div>
            <div class="row g-2 col-md-6 ms-md-auto col-lg-3">
                <div th:if="${MODE} == 'new'" class="col">
                    <button type="button" class="col-12 btn btn-dark border-primary" id="btn-insert" name="btn-insert">Insert</button>
                </div>
                <div th:if="${MODE} == 'detail'" class="col">
                    <button type="button" class="col-12 btn btn-dark border-secondary" id="btn-edit" name="btn-edit" th:onclick="|UpdateWorkLog(${workLogDetail.idx})|">Save</button>
                </div>
                <div th:if="${MODE} == 'detail'" class="col">
                    <button type="button" class="col-12 btn btn-dark border-danger" id="btn-delete" name="btn-delete" th:onclick="|DeleteWorkLog(${workLogDetail.idx})|">Delete</button>
                </div>
                <div class="col">
                    <button type="button" class="col-12 btn btn-dark border-success" id="btn-back" name="btn-back" th:onclick="|location.href='@{${prevPage}}'|">Back</button> 
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 col-md-6 col-lg-3 form-floating">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.custNm}" type="text" class="form-control" id="cust-nm" name="cust-nm" disabled>
                    <label for="cust-nm">업체명</label>
                </div>
                <div class="col-6 col-md-6 col-lg-3 form-floating" style="display: none;">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.custCd}" type="text" class="form-control" id="cust-cd" name="cust-cd" disabled>                
                    <label for="cust-cd">업체코드</label>
                </div>
                <div class="col-6 col-md-6 col-lg-3 h-100 pb-2">
                    <button type="button" class="w-100 h-100 btn btn-dark border-info text-nowrap" id="btn-selectCust" data-bs-toggle="modal" data-bs-target="#selectCustModal">Select Customer</button>
                    <button type="button" class="w-100 h-100 btn btn-dark border-warning text-nowrap" id="btn-cancelCust" onclick="SelectCancel()">Cancel Selection</button>
                </div>
            </div>
            <!-- 업체 선택 modal -->
            <div class="modal fade" id="selectCustModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">PopUp For Select Customer</h1>
                            <button type="button" class="btn-close btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="d-flex">
                                <button type="button" class="btn border-info" onclick="custListAjax()">Search</button>
                                <button type="button" id="btn-insertCust" class="btn border-warning ms-auto">Add Customer</button>
                            </div>
                            <input class="form-control my-2" type="text" list="custNmList" id="searchCustNm" name="searchCustNm" placeholder="업체명 검색" autocomplete="off">
                            <datalist id="custNmList">
                                <option th:each="list : ${CustNmList}" th:value="${list.custNm}"></option>
                            </datalist>
                            <div style="max-height: 400px; overflow:auto" id="custListDiv" name="custListDiv">
                                <table class="table table-striped" style="table-layout:fixed; cursor:pointer;">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="80%">
                                    </colgroup>
                                    <thead>
                                        <th class="text-center">Favor</th>
                                        <th>업체명</th>
                                    </thead>
                                    <tbody id="custListTable" name="custListTable">
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 col-lg-3 form-floating">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.insertDt}" type="datetime-local" class="form-control" id="insert-dt" name="insert-dt" disabled>
                    <label for="insert-dt">작성일</label>
                </div>
                <div class="col-6 col-lg-3 form-floating">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.receiptDt}" type="datetime-local" class="form-control" id="receipt-dt" name="receipt-dt">
                    <label for="receipt-dt">접수(시작)일</label>
                </div>
                <div class="col-6 col-lg-3 form-floating">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.dueDt}" type="datetime-local" class="form-control" id="due-dt" name="due-dt">
                    <label for="due-dt">완료예정일</label>
                </div>
                <div class="col-6 col-lg-3 form-floating">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.complDt}" type="datetime-local" class="form-control" id="compl-dt" name="compl-dt">
                    <label for="compl-dt">완료(종료)일</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-lg-6 order-1 order-lg-0 form-floating">
                    <input th:attr="value=${MODE == 'detail'} ? ${workLogDetail.title}" type="text" class="form-control" id="title" name="title">
                    <label for="title">제목</label>
                </div>
                <div class="col-6 col-lg-3 form-floating d-day">
                    <input type="text" class="form-control" readonly th:attr="value=${MODE == 'detail'} ? (${workLogDetail.strDday != null } ? |${workLogDetail.strDday}일|)" 
                        th:classappend="${MODE == 'detail'} ? (${workLogDetail.intDday < dDayValues.get('danger') } ? 'text-danger' : (${workLogDetail.intDday >= dDayValues.get('danger') && workLogDetail.intDday <= dDayValues.get('safe') }? 'text-primary' : 'text-success'))">
                    <label for="title" th:classappend="${MODE == 'detail'} ? (${workLogDetail.intDday < dDayValues.get('danger') } ? 'text-danger' : (${workLogDetail.intDday >= dDayValues.get('danger') && workLogDetail.intDday <= dDayValues.get('safe') }? 'text-primary' : 'text-success'))">D-day</label>
                </div>
                <div class="col-6 col-lg-3 form-floating">
                    <select class="form-select" id="documentType" name="documentType">
                        <option th:if="${MODE == 'new'}" value="">선택 해주세요</option>
                        <div th:each="docList : ${documentType}">
                            <option th:value="${docList.value}" th:text="${docList.text}" th:attr="selected=${MODE == 'detail' && docList.value == workLogDetail.documentType}? 'selected'"></option>
                        </div>
                    </select>
                    <label for="documentType">문서 구분</label>
                </div>
            </div> 
            <div class="form-floating ps-1 pt-2 pb-5">
                <div contentEditable="true" class="form-control overflow-auto" th:utext="${MODE == 'detail'} ? ${workLogDetail.content}" 
                     style="height: auto ;min-height: 20rem;" 
                    id="content" name="content">
                </div>
                <label for="content">내용</label>
            <div>
            <button type="button" id="btn-linePlus" class="btn border-primary my-2">New Line +</button>
        </div>
    </div>
</body>
</html>