<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>D-world/업무일지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/WorkLog.css">
    <!-- datetime 포멧 변경에 도움이 되는 라이브러리 Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        $(document).ready(function(){

            //업체 선택하지 않은 데이터 리턴시 대응
            if($("#cust-cd").val()==0){
                $("#cust-cd").val("");
            };

            //뒤로 버튼
            $("#btn-back").on("click", function(){
                location.href="/dworld/worklog";
                // window.history.back()
            });

            //업체명 검색 모달 컨트롤
            var searchCustNm = $("#searchCustNm").val();
            var datas = {searchCustNm};
            
            $("#searchCustNm").on("keyup",function(key){
                if(key.keyCode==13){
                    searchCustNm = $("#searchCustNm").val();
                    datas = {searchCustNm};
                    custListAjax();
                };
            });
            
            custListAjax();
            function custListAjax(){
                $.ajax({
                    url: "/dworld/worklog/searchCust",
                    type: "get",
                    data: datas,
                    success: function(data){
                        var listArea =$("#custListTable");
                        var listStr = "";
                        listArea.empty();
                        
                        if (data && data.length > 0) {
                            $.each(data, function(index, item){
                                listStr += "<tr>";
                                listStr += "<td><button class='btn border-0 w-100 text-start' onclick='SetCust("+item.rowNum+")'><div id='selectCustNm"+item.rowNum+"'>"+item.custNm+"</div></button></td>"
                                listStr += "<td><div id='selectCustCd"+item.rowNum+"'>"+item.custCd+"</div></td></tr>";
                                // listStr += "<td><button class='btn btn-outline-primary' onclick='SetCust("+item.rowNum+")'>선택</button></td>";
                                // listStr += "<td><div id='selectCustNm"+item.rowNum+"'>"+item.custNm+"</div></td>";
                                // listStr += "<td><div id='selectCustCd"+item.rowNum+"'>"+item.custCd+"</div></td></tr>";

                            });
                            listArea.append(listStr);
                        } else {
                            listStr += "<tr><td colspan='2' class='text-center'>데이터가 없습니다.</td></tr>";
                            listArea.append(listStr);
                        }

                    },
                    error: function() {
                        alert("ajax 통신 오류 발생");
                    }
                });
            };

            //업무일지 등록
            $("#btn-insert").on("click", function() {
                var custCd = $("#cust-cd").val();
                if(custCd == ""){
                    custCd = 0;
                };
                var receiptDt = $("#receipt-dt").val();
                var dueDt = $("#due-dt").val();
                var complDt = $("#compl-dt").val();
                var complYn;
                if(complDt == ""){
                    complYn = "N";
                }else{
                    complYn = "Y";
                }
                var title = $("#title").val();
                var content = $("#content").val();
                var datas = {custCd, receiptDt, dueDt, complDt, complYn, title, content};

                if(!title.trim()){
                    alert("제목을 써주세요.");
                }else if(!content.trim()){
                    alert("내용을 써주세요.");
                }else{
                    $.ajax({
                        url: "/dworld/worklog/control",
                        type: "post",
                        data: datas,
                        success: function(data) {
                            alert("등록 되었습니다.");
                            location.href="/dworld/worklog";
                        },
                        error: function() {
                            alert("ajax 통신 오류 발생");
                        }
                    });
                }
            });

        });

        //업체 선택 버튼 클릭 이벤트
        function SetCust(rowNum){
            console.log("rownum:"+rowNum);
            $('#selectCustModal').modal('hide');

            var selectCustNm = $("#selectCustNm"+rowNum).text();
            var selectCustCd = $("#selectCustCd"+rowNum).text();

            $("#cust-nm").val(selectCustNm);
            $("#cust-cd").val(selectCustCd);
        };
        
        //업체 선택 취소
        function SelectCancel(){
            $("#cust-nm").val("");
            $("#cust-cd").val("");
        };

        //삭제 버튼 이벤트
        function DeleteWorkLog(idx){
            var datas = {idx};
            if(confirm("삭제 하시겠습니까?")){
                $.ajax({
                    url: "/dworld/worklog/control",
                    type: "delete",
                    data: datas,
                    success: function(data) {
                        alert("삭제 되었습니다.");
                        location.href="/dworld/worklog";
                    },
                    error: function() {
                        alert("ajax 통신 오류 발생");
                    }
                });
            }
        };

        //수정버튼 클릭 이벤트
        function UpdateWorkLog(idx) {
            if(confirm("수정한 내용을 저장 하시겠습니까?")){
                var custCd = $("#cust-cd").val();
                if(custCd == ""){
                    custCd = 0;
                };
                var receiptDt = $("#receipt-dt").val();
                var dueDt = $("#due-dt").val();
                var complDt = $("#compl-dt").val();
                var complYn;
                if(complDt == ""){
                    complYn = "N";
                }else{
                    complYn = "Y";
                }
                var title = $("#title").val();
                var content = $("#content").val();
                var datas = {custCd, receiptDt, dueDt, complDt, complYn, title, content, idx};

                if(!title.trim()){
                    alert("제목을 써주세요.");
                }else if(!content.trim()){
                    alert("내용을 써주세요.");
                }else{
                    $.ajax({
                        url: "/dworld/worklog/control",
                        type: "put",
                        data: datas,
                        success: function(data) {
                            alert("수정 되었습니다.");
                        },
                        error: function() {
                            alert("ajax 통신 오류 발생");
                        }
                    });
                }
            }
        };
        
    </script>
</head>
<body>
    <div>
        <header th:include="header :: header"></header>
    </div>
    <div class="container">
        <div>
            <h1 th:if="${MODE} == 'new'" class="text-center webfont1">New WorkLog Write</h1>
            <h1 th:if="${MODE} == 'detail'" class="text-center webfont1">WorkLog Detail</h1>
        </div>
        <div class="row">
            <div th:if="${MODE} == 'new'" class="col my-1 ">
                <button type="button" class="btn btn-outline-primary w-100" id="btn-insert" name="btn-insert">Insert</button>
            </div>
            <div th:if="${MODE} == 'detail'" class="col my-1 ">
                <button type="button" class="btn btn-outline-secondary w-100" id="btn-edit" name="btn-edit" th:onclick="|UpdateWorkLog(${WorkLogDetail.idx})|">Save</button>
            </div>
            <div th:if="${MODE} == 'detail'" class="col my-1 ">
                <button type="button" class="btn btn-outline-danger w-100" id="btn-delete" name="btn-delete" th:onclick="|DeleteWorkLog(${WorkLogDetail.idx})|">Delete</button>
            </div>
            <div class="col my-1 ">
                <button type="button" class="btn btn-outline-success w-100" id="btn-back" name="btn-back">Back</button> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 form-floating my-1">
                <input th:attr="value=${MODE == 'detail'} ? ${WorkLogDetail.custNm}" type="text" class="form-control" id="cust-nm" name="cust-nm" disabled>
                <label for="cust-nm">업체명</label>
            </div>
            <div class="col-12 col-lg-4 form-floating my-1">
                <input th:attr="value=${MODE == 'detail'} ? ${WorkLogDetail.custCd}" type="text" class="form-control" id="cust-cd" name="cust-cd" disabled>                
                <label for="cust-cd">업체코드</label>
            </div>
            <div class="col-12 col-lg-4 my-1 d-flex">
                    <button type="button" class="btn btn-primary text-nowrap w-50 me-1" data-bs-toggle="modal" data-bs-target="#selectCustModal">업체 선택</button>
                    <button type="button" class="btn btn-warning text-nowrap w-50 ms-1" onclick="SelectCancel()">선택 취소</button>
                <!-- 업체 선택 modal -->
                <div class="modal fade" id="selectCustModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">업체 선택 팝업</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control my-2" type="text" id="searchCustNm" name="searchCustNm" placeholder="업체명 검색">
                                <div style="max-height: 400px; overflow:auto" id="custListDiv" name="custListDiv">
                                    <table class="table table-hover">
                                        <colgroup>
                                            <col width="75%" />
                                            <col width="25%" />
                                        </colgroup>
                                        <thead class="bg-dark text-light">
                                            <th>업체명</th>
                                            <th>업체코드</th>
                                        </thead>
                                        <tbody id="custListTable" name="custListTable">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row my-1">
            <div class="col-lg-4 form-floating my-1">
                <input th:attr="value=${MODE == 'detail'} ? ${WorkLogDetail.receiptDt}" type="datetime-local" class="form-control" id="receipt-dt" name="receipt-dt">
                <label for="receipt-dt" class="mx-1">접수일</label>
            </div>
            <div class="col-lg-4 form-floating my-1">
                <input th:attr="value=${MODE == 'detail'} ? ${WorkLogDetail.dueDt}" type="datetime-local" class="form-control" id="due-dt" name="due-dt">
                <label for="due-dt" class="mx-1">마감예정일</label>
            </div>
            <div class="col-lg-4 form-floating my-1">
                <input th:attr="value=${MODE == 'detail'} ? ${WorkLogDetail.complDt}" type="datetime-local" class="form-control" id="compl-dt" name="compl-dt">
                <label for="compl-dt" class="mx-1">완료일</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-floating">
                <input th:attr="value=${MODE == 'detail'} ? ${WorkLogDetail.title}" type="text" class="form-control" id="title" name="title">
                <label for="title" class="mx-1">제목</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-floating">
                <textarea th:if="${MODE} == 'new'" type="text" class="form-control" style="height: 500px;" id="content" name="content"></textarea>
                <textarea th:if="${MODE} == 'detail'" type="text" class="form-control" style="height: 500px;" id="content" name="content" th:text="${WorkLogDetail.content}"></textarea>
                <label for="content" class="mx-1">내용</label>
            <div>
        </div>
    </div>
</body>
</html>