<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>D-world/업무일지</title>

        <!-- 부트스트랩 기본  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- 기본Css -->
        <link rel="stylesheet" href="/css/basic.css">

        <script>
            $(document).ready(function() {

                $("#compl-yn").on("change", function(){
                    searchWorkLog();
                });
                $("#order1").on("change", function(){
                    searchWorkLog();
                });
                $("#order2").on("change", function(){
                    searchWorkLog();
                });

                //maxrow 5줄씩 보기 컨트롤
                $("#maxrow").change(function(){
                    searchWorkLog();
                });
            });
            
            //검색 버튼
            function searchWorkLog(){
                var complYn = document.getElementById('compl-yn').value;
                var order1 = document.getElementById('order1').value;
                var order2 = document.getElementById('order2').value;
                var searchCustNm = document.getElementById('searchCustNm').value;
                var searchTitle = document.getElementById('searchTitle').value;
                var maxrow = $("#maxrow").val();
                var searchStartDt = $("#searchStartDt").val();
                var searchEndDt = $("#searchEndDt").val();

                window.location.href= "/dworld/worklog?complYn=" + encodeURIComponent(complYn) 
                                    + "&order1=" + encodeURIComponent(order1) 
                                    + "&order2=" + encodeURIComponent(order2) 
                                    + "&custNm=" + encodeURIComponent(searchCustNm) 
                                    + "&title=" + encodeURIComponent(searchTitle) 
                                    + "&maxrow=" + encodeURIComponent(maxrow)
                                    + "&searchStartDt=" + encodeURIComponent(searchStartDt)
                                    + "&searchEndDt=" + encodeURIComponent(searchEndDt);
                }
        </script>
    </head>
    <body>
        <header th:include="header :: header"></header>
        <div class="container px-1">
            <div class="row px-2 justify-content-center">
                <div class="text-center webfont1 dlh-headstyle3">
                    <label><H1>WorkLog List</H1></label>
                </div>
                <!-- 검색 영역 -->
                <div class="row">
                    <button type="button" class="col-auto btn btn-dark border-danger ms-auto" onclick="location.href='/dworld/worklog'">초기화</button>
                </div>
                <div class="row g-2">
                    <div class="col-6 order-1 col-md-2 order-md-1 col-lg-1 ms-lg-auto">
                        <button type="button" class="col-12 btn btn-dark border-info" onclick="searchWorkLog()">Search</button>
                    </div>
                    <div class="col-6 order-3 col-md-4 order-md-2 col-lg-3">
                        <input type="text" class="form-control" id="searchCustNm" name="searchCustNm" placeholder="업체명 검색" th:value="${SearchCustNm}" onkeyup="if(window.event.keyCode==13){searchWorkLog()}"/>
                    </div>
                    <div class="col-6 order-4 col-md-4 order-md-3 col-lg-3">
                        <input type="text" class="form-control" id="searchTitle" name="searchTitle" placeholder="제목 검색" th:value="${SearchTitle}" onkeyup="if(window.event.keyCode==13){searchWorkLog()}"/>
                    </div>
                    <div class="col-6 order-2 col-md-2 order-md-4 col-lg-1 me-lg-auto">
                        <a href="/dworld/worklog/detail">
                            <button type="button" id="btn-new" class="col-12 btn btn-dark border-primary">New</button>
                        </a>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-6 col-md-6 col-lg-2 ms-lg-auto">
                        <div class="col form-floating">
                            <input type="date" th:value="${searchStartDt}" class="form-control" id="searchStartDt" name="searchStartDt">
                            <label for="receipt-dt" class="mx-1">검색 시작일</label>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-2">
                        <div class="col form-floating">
                            <input type="date" th:value="${searchEndDt}" class="form-control" id="searchEndDt" name="searchEndDt">
                            <label for="receipt-dt" class="mx-1">검색 종료일</label>
                        </div>
                    </div>
                    <div class="col-6 order-6 col-md-3 col-lg-2">
                        <select class="form-select h-100" id="order1" name="order1">
                            <option value="idx" th:attr="selected=${order1 == 'idx'}? 'selected'">작성일</option>
                            <option value="cust_nm" th:attr="selected=${order1 == 'cust_nm'}? 'selected'">업체명</option>
                            <option value="receipt_dt" th:attr="selected=${order1 == 'receipt_dt'}? 'selected'">접수일</option>
                            <option value="due_dt" th:attr="selected=${order1 == 'due_dt'}? 'selected'">완료 예정일</option>
                        </select>
                    </div>
                    <div class="col-6 order-7 col-md-3 col-lg-2">
                        <select class="form-select h-100" id="order2" name="order2">
                            <option value="desc" th:attr="selected=${order2 == 'desc'}? 'selected'">내림차순</option>
                            <option value="asc" th:attr="selected=${order2 == 'asc'}? 'selected'">오름차순</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <select class="form-select h-100" id="compl-yn" name="compl-yn">   
                            <option value="N" th:attr="selected=${ResponseComplYn == 'N'}? 'selected'">미완료</option>
                            <option value="Y" th:attr="selected=${ResponseComplYn == 'Y'}? 'selected'">완료</option>
                            <option value="A" th:attr="selected=${ResponseComplYn == 'A'}? 'selected'">완료여부 전체</option>
                        </select>
                    </div>
                    <div class="col-6 order-8 col-md-3 col-lg-2 me-lg-auto">
                        <select class="form-select h-100" id="maxrow" name="maxrow">
                            <option value="5" th:attr="selected=${PersetWorkLog.maxrow == 5} ? 'selected'">5줄씩 보기</option>
                            <option value="10" th:attr="selected=${PersetWorkLog.maxrow == 10} ? 'selected'">10줄씩 보기</option>
                            <option value="15" th:attr="selected=${PersetWorkLog.maxrow == 15} ? 'selected'">15줄씩 보기</option>
                            <option value="20" th:attr="selected=${PersetWorkLog.maxrow == 20} ? 'selected'">20줄씩 보기</option>
                            <option value="25" th:attr="selected=${PersetWorkLog.maxrow == 25} ? 'selected'">25줄씩 보기</option>
                            <option value="30" th:attr="selected=${PersetWorkLog.maxrow == 30} ? 'selected'">30줄씩 보기</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 테이블 영역 -->
            <div class="pt-2 pb-5">
                <div style="overflow:auto;">
                    <table class="table table-dark table-striped" style="min-width:1000px;table-layout:fixed;">
                        <colgroup>
                            <col width="5%">
                            <col width="10%">
                            <col width="20%">
                            <col width="8%">
                            <col width="8%">
                            <col width="4%">
                        </colgroup>
                        <thead>
                            <th>Num</th>
                            <th>업체명</th>
                            <th>제목</th>
                            <th class="text-center">작성일</th>
                            <th class="text-center">접수일</th>
                            <th class="text-center">완료</th>
                        </thead>
                        <tbody>
                            <tr th:each="list : ${WorkLogList.getList()}" class="text-wrap" th:onclick="|location.href='/dworld/worklog/detail?idx=${list.idx}'|" style="cursor:pointer;">
                                <td class="text-truncate" th:text="${list.rowNum}"></td>
                                <td class="text-truncate" th:text="${list.custNm}"></td>
                                <td class="text-truncate" th:text='${list.title}'></td>
                                <td class="text-center" th:text='${list.insertDt}'></td>
                                <td class="text-center" th:text='${list.receiptDt}'></td>
                                <td class="text-center" th:text='${list.complYn}'></td>
                            </tr>
                            <tr th:unless="${#lists.size(WorkLogList.getList())} > 0">
                                <td colspan="6" class="text-center">내용이 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination justify-content-center pt-4">
                    <li class="page-item" th:classappend="${WorkLogList.getPrePage() == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/dworld/worklog(pageNum=${WorkLogList.getPrePage()}, title=${SearchTitle}, custNm=${SearchCustNm}, complYn=${ResponseComplYn}, order1=${order1}, order2=${order2})}">Prev</a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(WorkLogList.getNavigateFirstPage(), WorkLogList.getNavigateLastPage())}" th:classappend="${page == WorkLogList.getPageNum()} ? 'active'">
                    <a class="page-link" th:text="${page}" th:href="@{/dworld/worklog(pageNum=${page}, title=${SearchTitle}, custNm=${SearchCustNm}, complYn=${ResponseComplYn}, order1=${order1}, order2=${order2})}"></a>
                    </li>
                    <li class="page-item" th:classappend="${WorkLogList.getNextPage() == 0} ? 'disabled'">
                    <a class="page-link"  th:href="@{/dworld/worklog(pageNum=${WorkLogList.getNextPage()}, title=${SearchTitle}, custNm=${SearchCustNm}, complYn=${ResponseComplYn}, order1=${order1}, order2=${order2})}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>