<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>D-world/회원가입</title>

        <!-- 부트스트랩 기본  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- 기본Css -->
        <link rel="stylesheet" href="/css/basic.css">

        <script>
            $(document).ready(function(){
                $("#btn-cancel").on("click", function(){
                    history.back();
                })
                $("#btn-submit").on("click", function() {
                    JoinAjax();
                });
            });

            function JoinAjax(){
                var userId = $("#userId").val();
                var userPw = $("#userPw").val();
                var userName = $("#userName").val();
                var datas = { userId: userId, userPw: userPw, userName: userName };
                $.ajax({
                    url: "/member/joinAjax",
                    type: "post",
                    data: datas,
                    success: function(data) {
                        if(data == "userIdEmpty"){
                            alert("ID를 입력해주세요.");
                        }else{
                            if(data == "userPwEmpty"){
                                alert("비밀번호를 입력해주세요.");
                            }else{
                                if(data == "userNameEmpty"){
                                    alert("이름을 입력해주세요.");
                                }else{
                                    if(data == "OK"){
                                        alert("회원가입이 되었습니다.");
                                        location.href="/";
                                    }else{
                                        alert("이미 존재하는 ID입니다. 다시 입력해 주세요.");
                                    }
                                }
                            }
                        }
                    }, error: function() {
                        alert("ajax 통신 오류 발생");
                    }
                });
            }
        </script>
    </head>
    <body>
        <header th:include="header :: header"></header>
        <div class="container ">
            <form class="col-10 col-md-6 col-lg-4 mx-auto py-5 row gy-3">
                <div class="text-center dlh-headstyle3">
                    <label for=""><h2 class="dlh-headfont1 ">Join Members</h2></label>
                </div>
                <div class="form-floating my-2">
                    <input type="text" id="userId" name="userId" class="form-control" onkeyup="if(window.event.keyCode==13){JoinAjax()}">
                    <label>ID</label>
                </div>
                <div class="form-floating my-2">
                    <input type="text" id="userPw" name="userPw" class="form-control" onkeyup="if(window.event.keyCode==13){JoinAjax()}">
                    <label>비밀번호</label>
                </div>
                <div class="form-floating my-2">
                    <input type="text" id="userName" name="userName" class="form-control" onkeyup="if(window.event.keyCode==13){JoinAjax()}">
                    <label>이름</label>
                </div>
                <div class="text-end">
                    <button type="button" id="btn-submit" class="btn btn-primary">가입</button>
                    <button type="button" id="btn-cancel" class="btn btn-success">뒤로</button>
                </div>
            </form>
        </div>
    </body>
</html>
