<!DOCTYPE html>
<html lang="en">
<header th:include="header :: header"></header>
<head>
    <title>D-world.Members</title>
    <script>
        $(document).ready(function(){

        });

        function searchUser(){
            var userId = $("#userId").val();
            var userName = $("#userName").val();
            window.location.href= "/dworld/auth/memberscontrol?userId=" + encodeURIComponent(userId) 
                                + "&userName=" + encodeURIComponent(userName);
        }

        function EditMembers(num){
            var userIdObj = "userId-"+num;
            var userId = document.getElementById(userIdObj).innerText;
            var userNameObj = "userName-"+num;
            var userName = document.getElementById(userNameObj).value;
            var userPwObj = "userPw-"+num;
            var userPw = document.getElementById(userPwObj).value;
            var authorityObj = "authority-"+num;
            var authority = document.getElementById(authorityObj).checked;

            datas = {userId, userName, userPw, authority};

            Swal.fire({
                title : ""
                , text : "수정 하시겠습니까?"
                , icon : "warning"
                , showCancelButton: true
                , confirmButtonColor: '#3085d6'
                , cancelButtonColor: '#d33'
                , confirmButtonText: '승인'
                , cancelButtonText: '취소', 
            }).then((result)=>{
                if(result.isConfirmed){
                    $.ajax({
                        url: "/dworld/auth/editMembers",
                        type: "put",
                        data: datas,
                        success: function(data) {
                            if(data == 'userIdEmpty'){
                                Swal.fire("","이름을 입력해주세요.", "warning");
                            }else{
                                if(data == "OK"){
                                    Swal.fire("", "수정 되었습니다.", "success")
                                    .then((result)=>{
                                        location.reload();
                                    });
                                }else{
                                    Swal.fire("", "접근이 잘못되었습니다.", "error");
                                }
                            }
                        }, error: function() {
                            aSwal.firelert("", "ajax 통신 오류 발생", "error");
                        }
                    });
                }
            })
        }
    </script>
</head>
<body>
    <div class="container">
        <!-- 검색 영역 -->
        <div class="my-4 row g-2">
            <div class="col-6 col-md-5 col-lg-2 ms-lg-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="userId" th:value="${searchUserId}" onkeyup="if(window.event.keyCode==13){searchUser()}">
                    <label for="userId">ID</label>
                </div>
            </div>
            <div class="col-6 col-md-5 col-lg-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="userName" th:value="${searchUserName}" onkeyup="if(window.event.keyCode==13){searchUser()}">
                    <label for="userName">이름</label>
                </div>
            </div>
            <div class="col-12 ms-auto col-md-2 col-lg-1 ms-lg-0">
                <button type="button" class="w-100 h-100 btn btn-success" id="btn-search" onclick="searchUser()">Search</button>
            </div>
        </div>
        <!-- 테이블 영역 -->
        <div style="overflow: auto;" class="mb-5">
            <table class="table table-striped" style="min-width:800px; table-layout:fixed;">
                <colgroup>
                    <col width="20%" />
                    <col width="30%" />
                    <col width="30%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>User Password</th>
                        <th class="text-center">Authority</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="list : ${userList}">
                        <tr class="text-wrap">
                            <td th:text="${list.userId}" th:id="|userId-${listStat.count}|" class="text-truncate"></td>
                            <td><input type="text" th:id="|userName-${listStat.count}|" class="form-control" th:value='${list.userName}'></td>
                            <td><input type="text" th:id="|userPw-${listStat.count}|" class="form-control"></td>
                            <td class="text-center"><input type="checkbox" th:id="|authority-${listStat.count}|" class="form-check-input" th:checked="${list.authority} == 'M' or ${list.authority} == 'A'? 'true'" th:disabled="${list.authority} == 'A' ? 'true'"></td>
                            <td><button type="button" th:id="'btnEdit-'+${listStat.count}" class="btn btn-warning" th:onclick="|EditMembers(${listStat.count})|">수정</button></td>
                        </tr>
                    </div>
                    <tr th:unless="${#lists.size(userList)} > 0">
                        <td colspan="5" class="text-center"><h3>검색 결과가 없습니다.</h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>