<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>

</head>
<body>
    <header th:fragment="header">
            <div class="header headerbgcolor p-4 d-flex justify-content-between flex-column flex-md-row  align-items-center align-items-md-center">
                <div>             
                    <div class="headerTitle">
                        <a href="/">D-world</a>
                    </div>
                    <div class="headerTitle">
                        <div>MyRefrigerator</div>
                    </div>
                </div>
                <ul class="navMenu d-flex flex-row list-unstyled py-3 py-md-0">
                    <a href="/dworld/re/myWishList"><li class="px-4 py-2 text-center mx-2" th:classappend="${PageName == 'MyWishList'} ? 'navFocus'"><b>Basket</b><br><small>바구니</small></li></a>
                    <a href="/dworld/re/refrigerator"><li class="px-4 py-2 text-center mx-2" th:classappend="${PageName == 'MyRefrigeratorList'} ? 'navFocus'"><b>Refrigerator</b><br><small>냉장고</small></li></a>
                    <a href="/dworld/re/purchaselist"><li class="px-4 py-2 text-center mx-2" th:classappend="${PageName == 'MyPurchaselistList'} ? 'navFocus'"><b>purchaselist</b><br><small>구매내역</small></li></a>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>