<!DOCTYPE html>
<html>
<header th:include="header :: header"></header>
<head>
    <title>D-world/고객사관리</title>
    <!-- 부트스트랩 기본  -->
    <link rel="stylesheet" href="/css/CarManage.css">

    <script>
    </script>
</head>
<body>
    <div class="container col-md-4 mx-auto my-auto">
        <div class="put_custom_wrap">
            <input type="checkbox" id="ckBox">
            <label for="ckBox">동의합니다.</label>
        </div>
        <div>
            <input type="checkbox" name="chbox2" id="chbox2">
            <label for="">chbox2</label>
        </div>
    </div>
    
</body>
</html>