body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #40d13b;
    --primary-Reverse-color: #ff6347;
    --primary-color-light: #3a3b3c;
    --text-color: #fff;
    --toggle-color: #4e4e4e;
}

*{
    color: var(--text-color);
}
  
body.dark .sidebar header .toggle{
    color: var(--text-color);
}

body.dark .header-text .profession::first-letter{
    color: var(--primary-Reverse-color);
    font-weight: bold;
  }