<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>D-world.header</title>
    
</head>
<body>
    <header th:fragment="header">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <!-- 부트스트랩 기본  -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <!-- jquery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <!-- 스위트 얼렛 참조 -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <!-- datetime 포멧 변경에 도움이 되는 라이브러리 Moment.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
            <!-- boxicons 참조 -->
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
            <!-- 기본Css -->
            <link rel="stylesheet" href="/css/basic.css">
            
            <script>
                $(document).ready(function(){
                    $("#btn-home").hover(function(){
                        $("#label-btnhome").text("Home");
                    }, function(){
                        $("#label-btnhome").text("");
                    });
                });
        
                document.addEventListener('keydown', function(event){
                    if (event.key === 'Escape'){
                        $('#offcanvasbody').offcanvas('hide');
                    }
                });
            </script>
        </head>
        <!-- 사이드바 시작 -->
        <div class="container">
            <div class="row align-items-center dlh-headstyle2 ps-2 ps-md-0">
                <button class="col-auto btn btn-dark border-primary my-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasbody">
                    <div class="material-symbols-outlined">menu</div>
                </button>
                <label class="col"><h1>D-World</h1></label>
            </div>
        </div>

        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasbody" data-bs-scroll="true" data-bs-backdrop="true">
            <div class="offcanvas-header">
                <span class="display-5 dlh-headstyle1">
                    <label for="">Navigator</label>
                </span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="p-3">
                <a class="bi bi-house-fill" id="btn-home" href="/" style="font-size: 2rem;"></a>
                <span id="label-btnhome" name="label-btnhome"></span>
            </div>
            <div class="card m-2">
                <div class="card-header bg-dark text-light dlh-headstyle3 d-flex align-items-center">
                    <span class="material-symbols-outlined">mist</span>
                    <label><strong>Menu</strong></label>
                </div>
                <ul class="list-group list-group-flush ">
                    <a href="/dworld/customer" class="list-group-item d-flex align-items-center">
                        <span class="material-symbols-outlined">dataset_linked</span>
                        <b>업체관리</b>
                    </a>
                    <a href="/dworld/worklog?entrance=1" class="list-group-item d-flex align-items-center">
                        <span class="material-symbols-outlined">menu_book</span>
                        <b>업무일지</b>
                    </a>
                </ul>
            </div>
            <div class="card m-2">
                <div class="card-header bg-dark text-light dlh-headstyle3 d-flex align-items-center ">
                    <span class="material-symbols-outlined">Group</span>
                    <label for=""><strong>Members</strong></label>
                    <div class="ps-2" th:if="${session.userId != null}" th:text="| : ${session.userName}'${session.auth}'님|"></div>
                </div>
                <div class="list-group">
                    <a class="list-group-item d-flex align-items-center" th:href="${session.userId == null ? '/members/login' : '/members/logout'}">
                        <span class="material-symbols-outlined" th:text="${session.userId == null ? 'login' : 'logout'}">login</span>
                        <b th:text="${session.userId == null ? '로그인' : '로그아웃'}">로그인</b>
                    </a>
                </div>
                <div class="list-group" th:if="${session.auth} == 'A' or ${session.auth} == 'M'">
                    <a class="list-group-item d-flex align-items-center" href="/dworld/auth/memberscontrol" target="_blank">
                        <span class="material-symbols-outlined">settings_accessibility</span>
                        <b>Member관리</b>
                    </a>
                </div>
            </div>
        </div>
    </header>

</body>
</html>