<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insert title here</title>
    
</head>
<body>
    <header th:fragment="header">
        <div class="container">
            <div class="row align-items-center dlh-headstyle2 ps-2 ps-md-0">
                <button class="col-auto btn btn-dark border-primary my-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasbody">
                    <div class="material-symbols-outlined">menu</div>
                </button>
                <label class="col"><h1>D-World</h1></label>
            </div>
        </div>

        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasbody" data-bs-scroll="true" data-bs-backdrop="true">
            <div class="offcanvas-header">
                <span class="display-5 dlh-headstyle1">
                    <label for="">Navigator</label>
                </span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="p-3">
                <a class="bi bi-house-fill" id="btn-home" href="/" style="font-size: 2rem;"></a>
                <span id="label-btnhome" name="label-btnhome"></span>
            </div>
            
            <div class="card m-2">
                <div class="card-header bg-dark text-light dlh-headstyle3 d-flex align-items-center">
                    <span class="material-symbols-outlined">mist</span>
                    <label><strong>Menu</strong></label>
                </div>
                <ul class="list-group list-group-flush ">
                    <a href="/dworld/customer" class="list-group-item d-flex align-items-center">
                        <span class="material-symbols-outlined">dataset_linked</span>
                        <b>업체관리</b>
                    </a>
                    <a href="/dworld/worklog/set" class="list-group-item d-flex align-items-center">
                        <span class="material-symbols-outlined">menu_book</span>
                        <b>업무일지 Ver1</b>
                    </a>
                    <a href="#" class="list-group-item d-flex align-items-center">
                        <span class="material-symbols-outlined">menu_book</span>
                        <b>업무일지 Ver2 개발전</b>
                    </a>
                    <a href="/dworld/carmanage" class="list-group-item d-flex align-items-center">
                        <span class="material-symbols-outlined">no_crash</span>
                        <b>자동차 관리 개발전</b>
                    </a> 
                </ul>
            </div>
            <div class="card m-2">
                <div class="card-header bg-dark text-light dlh-headstyle3 d-flex align-items-center ">
                    <span class="material-symbols-outlined">Group</span>
                    <label for=""><strong>Members</strong></label>
                    <div class="ps-2" th:if="${session.userId != null}" th:text="| : ${session.userName}'${session.auth}'님|"></div>
                </div>
                <div class="list-group">
                    <a class="list-group-item d-flex align-items-center" th:href="${session.userId == null ? '/members/login' : '/members/logout'}">
                        <span class="material-symbols-outlined" th:text="${session.userId == null ? 'login' : 'logout'}">login</span>
                        <b th:text="${session.userId == null ? '로그인' : '로그아웃'}">로그인</b>
                    </a>
                </div>
                <div class="list-group" th:if="${session.auth} == 'A' or ${session.auth} == 'M'">
                    <a class="list-group-item d-flex align-items-center" href="/dworld/auth/memberscontrol">
                        <span class="material-symbols-outlined">settings_accessibility</span>
                        <b>Member관리</b>
                    </a>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#btn-home").hover(function(){
                    $("#label-btnhome").text("Home");
                }, function(){
                    $("#label-btnhome").text("");
                });
            });
    
            document.addEventListener('keydown', function(event){
                if (event.key === 'Escape'){
                    $('#offcanvasbody').offcanvas('hide');
                }
            });
        </script>
    </header>

</body>
</html>