<!DOCTYPE html>
<html>
<header th:include="header :: header"></header>
<head>
    <title>D-world/test</title>
    <!-- 부트스트랩 기본  -->

    <script>
    </script>
</head>
<body th:attr="class=${viewMode} == 'dark' ? 'dark'">
    <div class="container col-md-4 mx-auto my-auto">
        <div class="text-center dlh-headstyle">
            <label for=""><h2 class="dlh-headfont1 ">Test Page</h2></label>
        </div>
        <!-- 테스트 영역 -->
        <div>

        </div>
    </div>
    
</body>
</html>