<!DOCTYPE html>
<html>
<header th:include="header :: header"></header>
<head>
    <title>D-world/test</title>
    <!-- 부트스트랩 기본  -->

    <script>

        //보내기 이벤트
        function Send(){
            var content = $("#content").html();
            $("#content2").val(content);
        }

        $(Document).ready(function(){
        });

    </script>
</head>
<body th:attr="class=${viewMode} == 'dark' ? 'dark'">
    <div class="container col-md-4 mx-auto my-auto">
        <div class="text-center dlh-headstyle mb-5">
            <label for=""><h2 class="dlh-headfont1 ">Test Page</h2></label>
        </div>
        <!---------- 테스트 영역 ------------>
        <div class="form-floating">
            <div contentEditable="true" class="form-control" style="height: 10rem;overflow:auto; white-space: nowrap; resize: vertical  ;" id="content" th:utext="${test}"></div>
            <label for="content">테스트 입력</label>
        </div>    
        <textarea name="" id="content2" cols="30" rows="10"></textarea>
        <button type="btn-send" class="btn btn-primary" onclick="Send()"> 보내기</button>
    </div>
    
</body>
</html>