<!DOCTYPE html>
<html>
<header th:include="header :: header"></header>
<head>
    <title>D-world/고객사 관리</title>

    <link rel="stylesheet" href="/css/Customer.css">
    <script>
        // 딜레이 타임 변수
        let debounceTimer;
        
        // searchCustNm Inputbox 자동 검색
        function SearchCustNmdebounce() {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => SearchCust(), 1500); // 1000 당 1초
        }

        //회사명 검색
        function SearchCust(){
            clearTimeout(debounceTimer);
            var searchCustNm = document.getElementById('searchCustNm').value;
            var maxrow = $("#maxrow").val();
            window.location.href= "/dworld/customer?searchCustNm=" + encodeURIComponent(searchCustNm) 
                                + "&maxrow=" + encodeURIComponent(maxrow);
        };

        // 업체 즐겨찾기 ajax
        function CustFavor(custCd){
            var datas = {custCd};

            $.ajax({
                url: "/dworld/customer/custfavor",
                type: "put",
                data: datas,
                success: function(data) {
                    SearchCust();
                }, error: function() {
                    Swal.fire("Error", "ajax 통신 오류 발생", "error");
                }
            });
        }

        $(document).ready(function() {
            $("#btn-editOK").hide();
            $("#btn-insertOK").hide();
            $("#btn-cancel").hide();
            
            //취소 버튼
            $("#btn-cancel").on("click", function(){
                location.reload();
            });

            // 수정완료 버튼
            $("#btn-editOK").on("click", function() {
                var valcustCd = $("#input-custCd").val();
                var valcustNm = $("#input-custNm").val();
                var valcustBusnum = $("#input-custBusnum").val();
                var valcustNum = $("#input-custNum").val();
                var valcustCeonm = $("#input-custCeonm").val();
                var valcustCeonum = $("#input-custCeonum").val();
                var valcustAddr = $("#input-custAddr").val();
                var valcustEmail = $("#input-custEmail").val();
                var valcustFax = $("#input-custFax").val();
                var valcustRemark = $("#input-custRemark").val();
                var datas = { custCd: valcustCd
                            , custNm: valcustNm
                            , custBusnum: valcustBusnum
                            , custNum: valcustNum
                            , custCeonm: valcustCeonm
                            , custCeonum: valcustCeonum
                            , custAddr: valcustAddr
                            , custEmail: valcustEmail
                            , custFax: valcustFax
                            , custRemark: valcustRemark
                };

                Swal.fire({
                    title : "Update Request"
                    , text : "수정 하시겠습니까?"
                    , icon : "warning"
                    , showCancelButton: true
                    , confirmButtonColor: '#3085d6'
                    , cancelButtonColor: '#d33'
                    , confirmButtonText: 'Ok! Save'
                    , cancelButtonText: 'Cancel', 
                }).then((result)=>{
                    if(result.isConfirmed){
                        $.ajax({
                            url: "/dworld/customer/control",
                            type: "put",
                            data: datas,
                            success: function(data) {
                                if(data == "custNmEmpty"){
                                    Swal.fire("Cust Name Empty","회사명이 비어선 안됩니다.", "warning");
                                }else{
                                    if(data == "OK"){
                                        Swal.fire("Success","수정 되었습니다.", "success")
                                            .then((result)=>{
                                                if(result){
                                                    location.reload();}
                                            });
                                    }else{
                                        Swal.fire("Error Callback", "접근이 잘못되었습니다.", "warning");}
                                }
                            }, error: function() {
                                Swal.fire("Error", "ajax 통신 오류 발생", "error");}
                        });
                    }
                })
            });

            // 수정 버튼
            $("#btn-edit").on("click", function(){
                $("#btn-editOK").show();
                $("#btn-insert").hide();
                $("#btn-edit").hide();
                $("#btn-delete").hide();
                $("#btn-cancel").show();
                
                $("#detail-head").text("Editing");
            
                document.getElementById("input-custNm").readOnly = false;
                document.getElementById("input-custBusnum").readOnly = false;
                document.getElementById("input-custNum").readOnly = false;
                document.getElementById("input-custCeonm").readOnly = false;
                document.getElementById("input-custCeonum").readOnly = false;
                document.getElementById("input-custAddr").readOnly = false;
                document.getElementById("input-custEmail").readOnly = false;
                document.getElementById("input-custFax").readOnly = false;
                document.getElementById("input-custRemark").readOnly = false;
            });
            
            // 삭제 버튼
            $("#btn-delete").on("click", function() {
                Swal.fire({
                    title : "Delete Request"
                    , text : "삭제 하시겠습니까?"
                    , icon : "warning"
                    , showCancelButton: true
                    , confirmButtonColor: '#3085d6'
                    , cancelButtonColor: '#d33'
                    , confirmButtonText: 'OK! Delete'
                    , cancelButtonText: 'Cancel', 
                }).then((result)=>{
                    if(result.isConfirmed){
                        var valcustCd = $("#input-custCd").val();
                        var datas = {custCd: valcustCd};

                        $.ajax({
                            url: "/dworld/customer/control",
                            type: "delete",
                            data: datas,
                            success: function(data) {
                                if(data == "OK"){
                                    Swal.fire("Success","삭제 되었습니다.", "success")
                                        .then((result)=>{
                                            if(result){
                                                location.href="/dworld/customer";
                                            }
                                        });
                                    
                                }else{
                                    Swal.fire("Warning", "접근이 잘못되었습니다.", "error");
                                }
                            }, error: function() {
                                Swal.fire("Error", "ajax 통신 오류 발생", "error");
                            }
                        });
                    }
                });      
            });

            // 등록 버튼
            $("#btn-insert").on("click", function(){
                $("#btn-insert").hide();
                $("#btn-insertOK").show();
                $("#btn-edit").hide();
                $("#btn-delete").hide();
                $("#btn-cancel").show();
                
                $("#detail-head").text("Create New");
                $("#input-custCd").val("Auto Increment(자동생성)");
                $("#input-custNm").val("");
                $("#input-custBusnum").val("");
                $("#input-custNum").val("");
                $("#input-custCeonm").val("");
                $("#input-custCeonum").val("");
                $("#input-custAddr").val("");
                $("#input-custEmail").val("");
                $("#input-custFax").val("");
                $("#input-custRemark").text("");

                document.getElementById("input-custNm").readOnly = false;
                document.getElementById("input-custBusnum").readOnly = false;
                document.getElementById("input-custNum").readOnly = false;
                document.getElementById("input-custCeonm").readOnly = false;
                document.getElementById("input-custCeonum").readOnly = false;
                document.getElementById("input-custAddr").readOnly = false;
                document.getElementById("input-custEmail").readOnly = false;
                document.getElementById("input-custFax").readOnly = false;
                document.getElementById("input-custRemark").readOnly = false;

            });

            // 등록 완료 버튼
            $("#btn-insertOK").on("click", function() {
                var valcustNm = $("#input-custNm").val();
                var valcustBusnum = $("#input-custBusnum").val();
                var valcustNum = $("#input-custNum").val();
                var valcustCeonm = $("#input-custCeonm").val();
                var valcustCeonum = $("#input-custCeonum").val();
                var valcustAddr = $("#input-custAddr").val();
                var valcustEmail = $("#input-custEmail").val();
                var valcustFax = $("#input-custFax").val();
                var valcustRemark = $("#input-custRemark").val();
                var datas = { custNm: valcustNm
                            , custBusnum: valcustBusnum
                            , custNum: valcustNum
                            , custCeonm: valcustCeonm
                            , custCeonum: valcustCeonum
                            , custAddr: valcustAddr
                            , custEmail: valcustEmail
                            , custFax: valcustFax
                            , custRemark: valcustRemark };

                $.ajax({
                    url: "/dworld/customer/control",
                    type: "post",
                    data: datas,
                    success: function(data) {
                        if(data == "custNmEmpty"){
                            Swal.fire("","회사명이 비어선 안됩니다.", "warning");
                        } else{
                            if(data == "OK"){
                                Swal.fire("Success","등록 되었습니다.", "success")
                                    .then((result)=>{
                                        if(result){
                                            location.href="/dworld/customer";
                                        }
                                    });
                            }else{
                                Swal.fire("Error Callback","접근이 잘못되었습니다.", "warning");
                            } 
                        }
                    }, error: function() {
                        Swal.fire("Error","ajax 통신 오류 발생", "error");
                    }
                });
            });

            //maxrow 5줄씩 보기 컨트롤
            $("#maxrow").change(function(){
                SearchCust();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <form id="input-form">
            <!------------------ 마스터 ------------------------>
            <div class="row gy-2 gx-1">
                <div class="text-center dlh-headstyle">
                    <label for=""><h1>Customer List</h1></label>
                </div>
                <div class="row m-0 p-0 gy-2">
                    <!-- 검색 버튼 삭제함 2024.01.20 김동환
                    <div class="col-6 col-md-2 col-lg-auto order-2 order-lg-1 offset-lg-3">
                        <button type="button" class="col-12 btn btn-dark border-info text-nowrap" onclick="SearchCust()">Search</button>
                    </div> -->
                    <div class="col-12 p-0">
                        <div class="col-12 col-md-8 col-lg-4 mx-auto form-floating ">
                            <input type="text" class="form-control" list="custNmList" id="searchCustNm" name="searchCustNm" th:value="${searchCustNm}" oninput="SearchCustNmdebounce()" onkeyup="if(window.event.keyCode==13){SearchCust()}">
                            <label>회사명 검색</label>
                        </div>
                    </div>
                    <div class="col-5 col-md-2 col-lg-2 ms-auto p-0">
                        <select class="form-select" id="maxrow">
                            <option value="5" th:attr="selected=${persetCust.maxrow == 5} ? 'selected'">5줄씩 보기</option>
                            <option value="10" th:attr="selected=${persetCust.maxrow == 10} ? 'selected'">10줄씩 보기</option>
                            <option value="15" th:attr="selected=${persetCust.maxrow == 15} ? 'selected'">15줄씩 보기</option>
                            <option value="20" th:attr="selected=${persetCust.maxrow == 20} ? 'selected'">20줄씩 보기</option>
                        </select>
                    </div>
                    
                </div>
                <div style="overflow: auto;">
                    <table class="table table-striped" style="min-width:1100px; table-layout:fixed;">
                        <colgroup>
                            <col width="7%" />
                            <col width="6%" />
                            <col width="27%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Num</th>
                                <th>Favor</th>
                                <th>회사명</th>
                                <th>사업자번호</th>
                                <th>전화번호</th>
                                <th>대표자명</th>
                                <th>대표자 번호</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="list : ${custList.getList()}" class="text-wrap">
                                <td th:text='${list.rowNum}'></td>
                                <td class="ps-3">
                                    <button type="button" style="border:none; background: none;" th:onclick="|CustFavor(${list.custCd})|">
                                        <i class="bx custFavorIcon" th:classappend="${list.custFavor == '1' ? 'bxs-star' : 'bx-star'}"></i>
                                    </button>
                                </td>
                                <td>
                                    <a th:href="@{/dworld/customer(pageNum=${custList.PageNum}, selectRowNum=${list.rowNum},searchCustNm=${searchCustNm})}">
                                        <div class="text-truncate" th:text='${list.custNm}'></div>
                                    </a>
                                </td>
                                <td th:text='${list.custBusnum}'></td>
                                <td th:text='${list.custNum}'></td>
                                <td class="text-truncate" th:text='${list.custCeonm}'></td>
                                <td th:text='${list.custCeonum}'></td>
                            </tr>
                            
                            <tr th:unless="${#lists.size(custList.getList())} > 0">
                                <td colspan="6" class="text-center"><h3>검색 결과가 없습니다.</h3></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${custList.getPrePage() == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/dworld/customer(pageNum=${custList.getPrePage()}, searchCustNm=${searchCustNm})}">Prev</a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(custList.getNavigateFirstPage(), custList.getNavigateLastPage())}" th:classappend="${page == custList.getPageNum()} ? 'active'">
                    <a class="page-link" th:text="${page}" th:href="@{/dworld/customer(pageNum=${page}, searchCustNm=${searchCustNm})}"></a>
                    
                    </li>
                    <li class="page-item" th:classappend="${custList.getNextPage() == 0} ? 'disabled'">
                    <a class="page-link"  th:href="@{/dworld/customer(pageNum=${custList.getNextPage()}, searchCustNm=${searchCustNm})}">Next</a>
                    </li>
                </ul>
            </div>
            <!------------ 디테일 --------------------------->
            <hr>
            <div class="row gy-2">
                <div class="text-center dlh-headstyle">
                    <label for=""><h1 id="detail-head">Detail Area</h1></label>
                </div>
                <div class="text-lg-end text-center">
                    <button class="col-3 col-lg-1 btn btn-dark border-primary" type="button" id="btn-insert" name="btn-insert">New</button>
                    <button class="col-3 col-lg-1 btn btn-dark border-primary" type="button" id="btn-insertOK" name="btn-insertOK">Insert</button>
                    <button class="col-3 col-lg-1 btn btn-dark border-warning" type="button" id="btn-edit" name="btn-edit">Edit</button>
                    <button class="col-3 col-lg-1 btn btn-dark border-warning" type="button" id="btn-editOK" name="btn-editOK">Save</button>
                    <button class="col-3 col-lg-1 btn btn-dark border-danger" type="button" id="btn-delete" name="btn-delete">Delete</button>
                    <button class="col-3 col-lg-1 btn btn-dark border-success" type="button" id="btn-cancel" name="btn-cancel">Back</button>
                </div>
                <div class="row mx-auto gy-2 gx-2">
                    <div class="col-6 col-md-4 col-lg-3 form-floating" style="display: none;">
                        <input type="text" th:value="${selectCust.custCd}" class="form-control" disabled id="input-custCd" name="input-custCd">
                        <label for="input-custCd">업체 코드</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custNm}" class="form-control" readonly id="input-custNm" name="input-custNm">
                        <label for="input-custNm">회사명</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custBusnum}" class="form-control" readonly id="input-custBusnum" name="input-custBusnum">
                        <label for="input-custBusnum">사업자 번호</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custNum}" class="form-control" readonly id="input-custNum" name="input-custNum">
                        <label for="input-custNum">전화 번호</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custCeonm}" class="form-control" readonly id="input-custCeonm" name="input-custCeonm">
                        <label for="input-custCeonm">대표명</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custCeonum}" class="form-control" readonly id="input-custCeonum" name="input-custCeonum">
                        <label for="input-custCeonum">대표 번호</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custFax}" class="form-control" readonly id="input-custFax" name="input-custFax">
                        <label for="input-custFax">Fax</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 form-floating">
                        <input type="text" th:value="${selectCust.custEmail}" class="form-control" readonly id="input-custEmail" name="input-custEmail">
                        <label for="input-custEmail">E-mail</label>
                    </div>
                    <div class="col-12 form-floating">
                        <input type="text" th:value="${selectCust.custAddr}" class="form-control" readonly id="input-custAddr" name="input-custAddr">
                        <label for="input-custAddr">주 소</label>
                    </div>
                    <div class="col-12 form-floating">
                        <textarea class="form-control" style="height: 200px;" th:text="${selectCust.custRemark}" readonly id="input-custRemark" name="input-custRemark"></textarea>
                        <label for="input-custRemark">비 고</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>